<header>
  <div class="profile-page sidebar-collapse">
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
      <div class="container">
        <!--<div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Creative CV</a>-->
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()"><span
            class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span
            class="navbar-toggler-bar bar3"></span></button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link smooth-scroll" href="#about" appSmoothScroll>About</a></li>
          <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill" appSmoothScroll>Skill</a></li>
          <li class="nav-item"><a class="nav-link smooth-scroll" href="#formacao" appSmoothScroll>Academic</a></li>
          <!--<li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portfolio</a></li>-->
          <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience" appSmoothScroll>Experience</a></li>

        </ul>
      </div>
  </nav>
  </div>
</header>
<div class="page-content">
  <div>
    <div class="profile-page">
      <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
          <div class="page-header-image" data-parallax="true" style="background-image: url('imgs/tunel.jpg');">
          </div>
          <div class="container">
            <div class="content-center">
              <div class="cc-profile-image"><a href="#"><img src="imgs/eun.jpg" alt="Image" /></a></div>
              <div class="h2 title">Herculano Cunha Madureira</div>
              <p class="category text-white">Data Engineer | Tech Lead | AI | Data Architect | Full Stack</p>
              <!--<a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Contatos</a>-->
              <a class="btn btn-primary"
                href="https://s3-sa-east-1.amazonaws.com/herculanocm.com/HerculanoCunhaCurriculo24Eng.pdf"
                target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" style="width: auto;">Download CV -
                English</a>

              <a class="btn btn-primary"
                href="https://s3-sa-east-1.amazonaws.com/herculanocm.com/HerculanoCunhaCurriculo24PtBr.pdf"
                target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" style="width: auto;">Currículo em
                Português</a>

            </div>
          </div>
          <!--<div class="section">
      <div class="container">
        <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
      </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p style="font-size: 18px">Hi there! I have over 10 years of experience working with data and technology, 
                where I have been responsible for leading, architecting, managing, and developing analytics environments. 
                Throughout these years, I have built a solid career in the field of data. My expertise ranges from implementing Big Data and data solutions to programming, 
                and I am always eager to embrace new challenges and learn emerging technologies.
                Currently, I am taking on the exciting challenge of working with AI, focusing on creating innovative data products using this technology.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class class="card-body">
              <div class="h4 mt-0 title">General Information</div>


              <div class="col-12" style="padding: 0px;margin: 0px;">
                <div class="row">
                  <div class="col-2" style="text-align: right;font-size: 18px"><strong class="text-uppercase"
                      style="vertical-align: top;"><i class="fa fa-globe" aria-hidden="true"></i></strong></div>
                  <div class="col-10" style="font-size: 18px">Brazilian - Maried</div>
                </div>
              </div>

              <div class="col-12" style="padding: 0px;margin: 0px;">
                <div class="row">
                  <div class="col-2" style="text-align: right;font-size: 18px"><strong class="text-uppercase"
                      style="vertical-align: top;"><i class="fa fa-mars" aria-hidden="true"></i></strong></div>
                  <div class="col-10" style="font-size: 18px">Age: 34</div>
                </div>
              </div>


              <div class="col-12" style="padding: 0px;margin: 0px;">
                <div class="row">
                  <div class="col-2" style="text-align: right;font-size: 18px"><strong class="text-uppercase"
                      style="vertical-align: top;"><i class="fa fa-whatsapp" aria-hidden="true"></i></strong></div>
                  <div class="col-10" style="font-size: 18px">+55 (34) 9.9794-6294</div>
                </div>
              </div>


              <div class="col-12" style="padding: 0px;margin: 0px;">
                <div class="row">
                  <div class="col-2" style="text-align: right;font-size: 18px"><strong class="text-uppercase"
                      style="vertical-align: top;"><i class="fa fa-envelope" aria-hidden="true"></i></strong></div>
                  <div class="col-10" style="font-size: 18px" [innerText]="'herculanocm@outlook.com'"></div>
                </div>
              </div>


              <div class="col-12" style="padding: 0px;margin: 0px;">
                <div class="row">
                  <div class="col-2" style="text-align: right;font-size: 18px"><strong class="text-uppercase"
                      style="vertical-align: top;"><i class="fa fa-github" aria-hidden="true"></i></strong></div>
                  <div class="col-10" style="font-size: 18px">
                    <a href="https://github.com/herculanocm">https://github.com/herculanocm</a>
                  </div>
                </div>
              </div>

              <div class="col-12" style="padding: 0px;margin: 0px;">
                <div class="row">
                  <div class="col-2" style="text-align: right;font-size: 18px"><strong class="text-uppercase"
                      style="vertical-align: top;"><i class="fa fa-linkedin" aria-hidden="true"></i></strong></div>
                  <div class="col-10" style="font-size: 18px">
                    <a href="https://linkedin.com/in/herculanocm">https://linkedin.com/in/herculanocm</a>
                  </div>
                </div>
              </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Technical Knowledge</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Cloud (AWS, Azure, GCP)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">ALM Solution (GIT,
                Jenkins)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 75%;"></div><span class="progress-value">75%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">SGBDs (Readshift, Cassandra,
                MongoDB, MSSQLServer,
                Oracle, Postgres, Mysql) </span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">ETL Tools (Spark, Glue,
                Databricks, DataProc, MS SSIS,
                IBM InfoSphere DataStage)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 95%;"></div><span class="progress-value">95%</span>
              </div>
            </div>
          </div>



        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Agile Methodologies (Scrum,
                Kaban, Jira)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 80%;"></div><span class="progress-value">80%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">DevOps (Docker, Kubernetes,
                Rancher)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 80%;"></div><span class="progress-value">85%</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Servers (Windows Server,
                Linux)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 100%;"></div><span class="progress-value">100%</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Colaboration (O365, Google
                G-Suite)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 70%;"></div><span class="progress-value">70%</span>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">BackEnd Langs (SQL, Java,
                Python, Nodejs, C#)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 99%;"></div><span class="progress-value">99%</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">FrontEnd Langs (Javascript,
                Angular,
                React)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 80%;"></div><span class="progress-value">80%</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="section" id="formacao">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Academic Formation</div>
    <div class="card">

      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017 - 2018*</p>
            <div class="h5">Master’s Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Big Data</div>
            <p class="category">BRA - PUC Minas, Uberlândia</p>
            The course aims at training specialists in Big Data and Analytics who gather solid knowledge
            in the main Big Data technologies, in addition to methodologies used in the global market, knowing
            business models, architecture, strategic governance and solutions practiced in the market.<br>

            Some of the topics applied in the course:<br>

            <ul>
              <li>Parallel storage and processing systems for horizontal scale
                with Hadoop, Spark, Hive and others.</li>
              <li>Relational and non-relational database models in the application of
                analytics. </li>
              <li>Architecture and processing of real-time systems.</li>
              <li>Creation and maintenance of statistical models for business applications.</li>
              <li>Among others...</li>
            </ul>


          </div>
        </div>
      </div>

    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2009 - 2013</p>
            <div class="h5">Bachelor’s degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Information System</div>
            <p class="category">BRA - Faculdade Politécnica, Uberlândia</p>
            This course is a higher education course and is what most prepared students to work in the market at that
            time.
            The student would have to choose between (Science, engineering or information systems), I was assertive when
            choosing this one that gave me baggage for the race in the vacancies disputes for the best performances.<br>

            The course has several objectives, some of which are worth highlighting.:<br>
            <ul>
              <li>Provides a solid background in Software Engineering and development of
                systems.</li>
              <li>Preparatory for the use of relational database 
                in applications.</li>
              <li>Solidifier on computer networks, operating systems and
                interfaces.</li>
              <li>Systems Project Management Trainer.</li>
              <li>Among others...</li>
            </ul>


          </div>
        </div>
      </div>
    </div>




  </div>
</div>



<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Profesional Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2022-Atual</p>
            <div class="h5">Polígono Capital</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Tech Lead - Data Enginner</div>
            <p>
              Interdisciplinary role.<br>

              As a Tech Lead, I leverage my expertise to make critical technical and strategic decisions, ensuring the
              success of data/software projects. I take full responsibility for the team's outcomes, consistently
              fostering motivation and engagement. I specialize in developing and leading the implementation of robust
              data pipeline solutions.<br>

              With proficiency in technical leadership, data architecture, pipeline development, and data integration,
              this role empowers me to extend beyond the IT domain. I recognize that addressing business challenges is
              the primary and most crucial focus. The ability to navigate and contribute to business subjects is a
              central aspect of my role, reflecting my commitment to achieving both technical excellence and business
              success.

            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2017-Fev/2022</p>
            <div class="h5">Tribanco</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Data Enginner - Tech Lead</div>
            <p>
              Focused role performance for data engineering and BigData.<br>

              My career at this company begins with the desire and need to
              shift from traditional BI to the bigdata era,
              accepting a challenge proposal that would change the customary way of
              work.<br>

              The company in question needed to transform its outdated BI area
              on an agile, horizontal and resilient analytics platform
              that would meet the minimum requirements required of the ecosystem that
              set out to deliver smart banking services,
              cheap and competitive to your customers.<br>

              I accepted this challenge and since then I've initially moved from
              BI systems for
              Systems Analyst and now for Data Engineer, the positions have been
              adapting as the work was demonstrated and the company grew with the
              maturation of these new areas.

              In this experience, learning was increasing, as we permeated 3 directorates
              (Technology, Strategic Planning and Products) with distinct strategies that
              brought technical knowledge closer to the business in a way
              exponential.<br>

              Among several achievements, it is worth mentioning the implementation of lakeHouse in
              cloud for self-service of the business areas, this activity enabled the
              independence
              of the business as well as bureaucratic requests for data analysis, reports and
              panels to Information Technology, with that
              there was also the implementation of new tools for exploration and analysis of
              data like SAS, Tableau and PowerBI,
              implementation of 3 statistical and strategic models ( Churn, recommendation and
              prospection).<br>

              I am currently in the area of architecture and governance with scope of activities
              aimed at creating a highly available data platform and
              resilient, that can meet LGPD and OpenBanking projects and areas of
              organization focused on open source and cloud services.<br>

            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2014-2017</p>
            <div class="h5">Algar - Tech</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">BI Analyst and Architect</div>
 
              With a focus on information analysis, construction of cubes oriented to
              decision making, insight gathering, business architecture design
              Intelligence and Big Data.<br>

              I started working on BI and later on BIG DATA at ALGAR TECH in
              together with the process management area, where we mine and develop
              Dashboards
              and templates through ETL and statistical techniques to support the pillar,
              after
              we have consolidated a BI factory to meet all the needs of the company, be it
              she
              processes, operations, marketing, finance, business, etc.

              Dealing with the needs
              of customers evolves in knowledge with analysis of requirements, analysis of
              business,
              policy
              applied internally, so I spoke the client's language and interpreted it for the
              technology
              of BI, today in addition to developing, analyzing, prospecting, training I coordinate a
              team of
              analysts working on internal and external projects. It is worth mentioning that
              I had
              O
              pleasure to participate in several external projects, among them the outstanding "MRE-
              Ministry
              Foreign Affairs, where I traveled to Brasilia and we carried out consultancy
              complete, other
              important in Brasilia was ELETROBRAS-ELETRONORTE, my team and I
              we did a great job. There are several successful cases, of which I am proud
              in
              to have
              participated either as a developer, consultant or analyst.<br>

              Some of the activities carried out among others:<br>

            <ul>
              <li>Business process mapping.</li>
              <li>Development and management of business projects.</li>
              <li>Implementation and maintenance of process automation.</li>
              <li>Gathering business requirements.</li>
              <li>Risk assessment for project implementation.</li>
              <li>QlikView tool development for management.</li>
              <li>Development team coordination.</li>
              <li>Talent training for knowledge of the Qlikview platform.</li>
              <li>BI interview and consulting.</li>
            </ul>

           
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2013 - 2014</p>
            <div class="h5">Bradesco</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Support Analyst</div>
            

              Acting as an analyst responsible for the correct maintenance of the systems
              operating systems, management systems and databases to support the
              services and products
              sold and supported by Bradesco.<br>
              Some of the activities carried out among others:<br>
            <ul>

              <li>Meeting with StackHolders to define demands</li>
              <li>Support center for decision-making at critical times</li>
              <li>Creating and maintaining support documentation</li>
              <li>Creation of indicator reports for clients</li>
              <li>Support to Management and internal communication</li>
              <li>Customer support</li>

            </ul>


          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2012 - 2013</p>
            <div class="h5">Cedro Finances</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Analyst Internship</div>
            <p>

              Activity developed defining work methods and processes, studying times
              and parameters, mapping the flow of activities and identifying failures, in order to
              to establish
              strategies for solving problems and proposing continuous improvement of processes.<br>
              Activities carried out such as implementing a BPM tool for modeling, documentation and
              automation of
              processes, support the definition of processes for each area of the company, identify and
              optimize critical processes, train the company in business processes.


            </p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>





<footer class="footer">
  <div class="container text-center">

    <a class="cc-facebook btn btn-link" href="https://www.facebook.com/herculanocm"><i class="fa fa-facebook fa-2x "
        aria-hidden="true"></i></a>
    <a class="cc-linkedin btn btn-link" href="https://linkedin.com/in/herculanocm"><i class="fa fa-linkedin fa-2x "
        aria-hidden="true"></i></a>

    <a class="cc-instagram btn btn-link" href="https://www.instagram.com/herculanocm/"><i class="fa fa-instagram fa-2x "
        aria-hidden="true"></i></a>

  </div>

</footer>